<% if can? :settings, @current_user %>
<div class="row element-style">
  <div class="col-md-11 form-style">
    <fieldset>
      <div class="row">
        <legend class="col-lg-12">Vista de Puesto</legend>
      </div>
      <div class="form-group org-panel">
        <form action="/positions/update" method="POST">
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Número de puesto: </b>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" id="inputDefault" name="position_number" value="<%= @position.position_number %>">
              </div>
            </div>
          </div>
          <hr>
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Puesto: </b>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" id="inputDefault" name="name" value="<%= @position.name %>">
              </div>
            </div>
          </div>
          <hr>
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Descripción: </b>
              </div>
              <div class="col-md-4">
                <p>Descripción del Puesto*</p>
              </div>
            </div>
          </div>
          <hr>
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Unidad: </b>
              </div>
              <div class="col-md-4">
                <select class="form-control" id="select" name="unit_id">
                  <% Unit.all.each do |unit| %>
                  <option value="<%= unit.id %>"
                    <% if unit.id == @position.unit_id %>
                       selected="selected"
                    <% end %>
                    >
                    <%= unit.name %>
                  </option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <hr>
          <div class="row edit-row">
            <div class="col-md-6">
              <input type="hidden"value="<%= @position.id %>" name="id"/>
              <input type="hidden"value="<%= form_authenticity_token() %>" name="authenticity_token"/>
              <button class="btn btn-success save-changes" type="submit" >Guardar cambios</button>
              <button type="button" class="btn btn-danger">
                <%= link_to "Eliminar Puesto", {action: 'delete',id: @position.id}, class: "link-delete" %>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <a href="/positions">
          <button type="submit" class="btn btn-primary">Volver</button>
        </a>
      </div>
    </fieldset>
  </div>
</div>
<% end %>
