<% if can? :settings, @current_user %>
<div class="row element-style">
  <div class="col-md-11 form-style">
    <fieldset>
      <div class="row">
        <legend class="col-lg-12">Vista de Función</legend>
      </div>
      <div class="form-group org-panel">
        <form action="/functions/update" method="POST">
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Número de función: </b>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" id="inputDefault" name="function_number" value="<%= @function.function_number %>">
              </div>
            </div>
          </div>
          <hr>
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Función: </b>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" id="inputDefault" name="name" value="<%= @function.name %>">
              </div>
            </div>
          </div>
          <hr>
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Puesto: </b>
              </div>
              <div class="col-md-4">
                <select class="form-control" id="select" name="position_id">
                  <% Position.all.each do |position| %>
                    <option></option>
                    <% if @function.position_id == position.id%>
                      <option value="<%= position.id %>" selected="selected"><%= position.name %></option>
                    <% else %>
                      <option value="<%= position.id %>"><%= position.name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <!-- <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Tipo de puesto: </b>
              </div>
              <div class="col-md-4">
                <select class="form-control" id="select" name="position_type_id">
                  <% PositionType.all.each do |x| %>
                    <% if @function.position_type_id == x.id%>
                      <option value="<%= x.id %>" selected="selected"><%= x.description %></option>
                    <% else %>
                      <option value="<%= x.id %>"><%= x.description %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
            </div>
          </div> -->
          <hr>
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Se contabiliza: </b>
              </div>
              <div class="col-md-4">
                <select class="form-control" id="select" name="num_task">
                  <% if @function.num_task == true %>
                    <option value="true" selected="selected">Sí</option>
                    <option value="false">No</option>
                  <% else %>
                    <option value="false" selected="selected">No</option>
                    <option value="true">Sí</option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <hr>
          <div class="row edit-row">
            <div class="col-md-6">
              <input type="hidden"value="<%= @function.id %>" name="id"/>
              <input type="hidden"value="<%= form_authenticity_token() %>" name="authenticity_token"/>
              <button class="btn btn-primary save-changes" type="submit" >Guardar cambios</button>
              <button type="button" class="btn btn-primary">
                <%= link_to "Eliminar Función", {action: 'delete',id: @function.id}, class: "link-delete" %>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <a href="/functions">
          <button type="submit" class="btn btn-primary">Volver</button>
        </a>
      </div>
    </fieldset>
  </div>
</div>
<% end %>
