<% if can? :settings, @current_function %>
<div class="row element-style">
  <div class="col-md-11 form-style">
    <% if params[:error].present? %>
      <div class="'has-error alert alert-danger alert-dismissable'">
        <button name="button" type="button" class="close" data-dismiss="alert">×</button>
        <%= params[:error] %>
      </div>
    <% end%>
    <fieldset>
      <div class="row">
        <legend class="col-lg-12">Vista de Función</legend>
      </div>
      <div class="form-group org-panel">
        <form action="/functions/update" method="POST">
          <div class="row edit-row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <b>Función: </b>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" id="inputDefault" name="name" value="<%= @function.name %>" required>
              </div>
            </div>
          </div>
          <hr>
          <% if @function.position %>
            <div class="row edit-row">
              <div class="col-lg-12">
                <div class="col-md-4">
                  <b>Área: </b>
                </div>
                <div class="col-md-4">
                  <select class="form-control" id="area" name="area">
                    <option value=""></option>                        
                    <% Unit.select(:area_name).group(:area_name).each do |unit| %>
                      <option value="<%= unit.area_name %>"><%= unit.area_name %></option>
                    <% end %>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="col-md-4">
                  <b>Dirección: </b>
                </div>
                <div class="col-md-4">
                  <select class="form-control" id="direction" name="direction">
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="col-md-4">
                  <b>Subdirección: </b>
                </div>
                <div class="col-md-4">
                  <select class="form-control" id="subdirection" name="subdirection">
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="col-md-4">
                  <b>Unidad: </b>
                </div>
                <div class="col-md-4">
                  <select class="form-control" id="unit" name="unit">
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="col-md-4">
                  <b>Puesto: </b>
                </div>
                <div class="col-md-4">
                  <select class="form-control" id="position" name="position">
                    <option value=""></option>
                  </select>
                </div>
              </div>
            </div>
          <% end %>
          <hr>
          <div class="row edit-row">
            <div class="col-md-6">
              <input type="hidden"value="<%= @function.id %>" name="id"/>
              <input type="hidden"value="<%= form_authenticity_token() %>" name="authenticity_token"/>
              <button class="btn btn-primary save-changes" type="submit" >Guardar cambios</button>
              <%= link_to "Eliminar Función", {action: 'delete',id: @function.id}, class: "btn btn-primary link-delete" %>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <a href="/functions?search=<%= params[:search] %>&searchByUser=<%= params[:searchByUser] %>">
          <button type="submit" class="btn btn-primary">Volver</button>
        </a>
      </div>
    </fieldset>
  </div>
</div>
<% end %>

<script>
  <% if @function.position %>
    filterOrgchart("<%= @function.position.unit.area_name %>",
                    "<%= @function.position.unit.dir_name %>",
                    "<%= @function.position.unit.subdir_name %>",
                    "<%= @function.position.unit.name %>",
                    "/functions");
    $("#area").val("<%= @function.position.unit.area_name %>");
    $("#direction").val("<%= @function.position.unit.dir_name %>");
    $("#subdirection").val("<%= @function.position.unit.subdir_name %>");
    $("#unit").val("<%= @function.position.unit.name %>");
    $("#position").val("<%= @function.position.id %>");
  <% end %>

  $("#area").on("change", function() {
    filterElement('direction', '/functions');
  });
  $("#direction").on("change", function() {
    filterElement('subdirection', '/functions');
  });
  $("#subdirection").on("change", function() {
    filterElement('unit', '/functions');
  });
  $("#unit").on("change", function() {
    filterElement('position', '/functions');
  });
</script>