<% if can? :settings, @current_user %>
<div class="row element-style">
  <div class="col-md-11 form-style">
      <fieldset>
        <div class="row">
          <legend class="col-lg-12">Administración de funciones</legend>
        </div>
        <div class="form-group org-panel">
          <div class="row">
            <div class="col-lg-12">
              <div class="col-lg-2">
                <a href="/functions/new">
                  <button type="button" class="btn btn-primary">Añadir Función</button>
                </a>
              </div>
              <div class="col-lg-2">
                <%= link_to "Descargar CSV", functions_path(format: "csv", search: params[:search], searchByUser: params[:searchByUser]), class: "btn btn-success" %>              
              </div>
              <div class="col-lg-4 pull-right">
                <%= form_tag(functions_path, method: "get", id: "search-form") do%>
                  <div class="col-md-12">
                    <%= text_field_tag :search, params[:search], class:"form-control search-input col-lg-2", placeholder: "Buscar función" %>
                  </div>
                  <div class="col-md-12" style="margin-top: 5px;">
                    <%= text_field_tag :searchByUser, params[:searchByUser], class:"form-control search-input col-lg-2", placeholder: "Buscar usuario" %>
                    <%= submit_tag "Buscar", class:"btn btn-primary search-btn" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group org-panel">
          <div class="row">
            <label for="select" class="col-lg-12 control-label">Lista de funciones</label>
            <hr>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <table class="table table-striped table-hover ">
                <thead>
                  <tr>
                    <th>Función</th>
                    <th>Puesto</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <% if @functions.present? %>
                    <% @functions.each do |function| %>
                        <tr>
                          <td>
                            <%= function.name %>
                          </td>
                          <td>
                            <% if function.position %>
                              <%= function.position.name %>
                            <% end %>
                          </td>
                          <td>
                            <%= link_to(content_tag(:i, nil, class: 'fa fa-search', title: 'Detalles'), action: 'show', id: function.id) %>
                            <%= link_to(content_tag(:i, nil, class: 'fa fa-pencil', style: 'margin-left:5px;', title: 'Editar'), action: 'edit', id: function.id) %>
                          </td>
                        </tr>
                    <% end %>
                  <% else %>
                    <p>No existe ninguna función que contenga el término "<%= params[:search] %>" o pertenezca al usuario "<%= params[:searchByUser] %>".</p>
                  <% end %>
                </tbody>
              </table>
              <%= render partial: "shared/pagination", locals: {collection: @functions} %>
            </div>
          </div>
        </div>
      </fieldset>
    <div class="col-md-6">
      <a href="/settings">
        <button type="submit" class="btn btn-primary">Volver</button>
      </a>
    </div>
  </div>
</div>
<% end %>
