<% if can? :settings, @current_user %>
  <div class="row element-style">
    <div class="col-md-11 form-style">
      <fieldset>
        <div class="row">
          <legend class="col-lg-12">Configuración de Usuario</legend>
        </div>
        <div class="form-group org-panel">
          <hr>
          <form action="/users/update" method="POST">
            <div class="row edit-row">
              <div class="col-lg-12">

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <b>Nombre: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="name" value="<%= @user.name %>">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Primer apellido: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="last_name" value="<%= @user.last_name %>">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Segundo apellido: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="last_name_alt" value="<%= @user.last_name_alt %>">
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <b>Código Ayre: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="disabledInput" name="ayre" value="<%= @user.login %>">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Perfil: </b>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control" name="role">
                        <% if @user.superadmin_role == true %>
                          <option name="role" value="1" selected="selected">Superadministrador</option>
                          <option value="2">Administrador</option>
                          <option value="3">Encuestado</option>
                        <% elsif @user.admin_role == true %>
                          <option value="1">Superadministrador</option>
                          <option value="2" selected="selected">Administrador</option>
                          <option value="3">Encuestado</option>
                        <% else %>
                          <option value="1">Superadministrador</option>
                          <option value="2">Administrador</option>
                          <option value="3" selected="selected">Encuestado</option>
                        <% end %>
                       </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Puesto: </b>
                    </div>
                    <div class="col-md-7">
                      <% if @user.positions != [] %>
                        <select class="form-control" name="position">
                          <% @positions.each do |position| %>
                            <option value="<%=position.name%>"
                              <% if position.id == @user.positions.first.id %>
                                selected="selected"
                              <% end %>
                            ><%= position.name %></option>
                          <% end %>
                        </select>
                      <% else %>
                      <select class="form-control" name="position">
                        <option></option>
                        <% @positions.each do |position| %>
                          <option value="<%=position.name%>"><%= position.name %></option>
                        <% end %>
                      </select>
                      <% end %>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 edit-bottom-panel">
                  <div class="row bottom-panel">
                    <div class="col-md-5">
                      <b>Email: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="email" value="<%= @user.email %>">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Teléfono: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="phone_number" value="<%= @user.phone_number %>">
                    </div>
                  </div>
                  <div class="row bottom-panel">
                    <div class="col-md-5">
                      <b>Tipo de documento: </b>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control">
                        <option>
                          DNI
                        </option>
                        <option>
                          Otro
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Documento: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="document" value="<%= @user.document %>">
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <hr>
            <div class="row edit-row">
              <div class="col-md-6">
                <input type="hidden"value="<%= @user.id %>" name="id"/>
                <input type="hidden"value="<%= form_authenticity_token() %>" name="authenticity_token"/>
                <button class="btn btn-success save-changes" type="submit" >Guardar cambios</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <a href="/users">
            <button type="submit" class="btn btn-primary">Volver</button>
          </a>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>
