<% if can? :settings, @current_user %>
<div class="row element-style">
  <div class="col-md-11 form-style">
      <fieldset>
        <div class="row">
          <legend class="col-lg-12">Configuración</legend>
        </div>
        <div class="form-group org-panel">
          <div class="row">
            <label for="select" class="col-lg-12 control-label">Configuración de personal</label>
            <hr>
          </div>
          <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-hover ">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Usuario</th>
                      <th>Puestos</th>
                      <th>Email</th>
                      <th>Teléfono</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @users.each do |user| %>
                        <tr>
                          <td>
                            <%= user.id %>
                          </td>
                          <td>
                           <%= user.name %>
                           <%= user.last_name %>
                           <% if user.last_name_alt %>
                            <%= user.last_name_alt %>
                           <% end %>
                          </td>
                          <td>
                            <select class="form-control">
                              <% user.positions.each do |position| %>
                              <option>
                                <%= position.name %>
                              </option>
                              <% end %>
                            </select>
                          </td>
                          <td>
                            <%= user.email %>
                          </td>
                          <td>
                            <%= user.phone_number %>
                          </td>
                          <td>
                            <button type="button" class="btn btn-default">
                              <%= link_to "Editar usuario", {action: 'edit',id: user.id} %>
                            </button>
                          </td>
                        </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </fieldset>
    <div class="col-md-6">
      <a href="/settings">
        <button type="submit" class="btn btn-primary">Volver</button>
      </a>
    </div>
  </div>
</div>
<% end %>
