<% if can? :settings, @current_user %>
  <div class="row element-style">
    <div class="col-md-11 form-style">
      <% if params[:error].present? %>
        <div class="'has-error alert alert-danger alert-dismissable'">
          <button name="button" type="button" class="close" data-dismiss="alert">×</button>
          <%= params[:error] %>
        </div>
      <% end%>
      <fieldset>
        <div class="row">
          <legend class="col-lg-12">Configuración de Usuario</legend>
        </div>
        <div class="form-group org-panel">
          <hr>
          <form action="/users/create" method="POST">
            <div class="row edit-row">
              <div class="col-lg-12">

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <b>Nombre: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="name" value="<%= params[:name].present? ? params[:name] : "" %>">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Primer apellido: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="last_name" value="<%= params[:last_name].present? ? params[:last_name] : "" %>">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Segundo apellido: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="last_name_alt" value="<%= params[:last_name_alt].present? ? params[:last_name_alt] : "" %>">
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <b>Área: </b>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control" id="area" name="area">
                        <option value=""></option>                        
                        <% Unit.select(:area_name).group(:area_name).each do |unit| %>
                          <option value="<%= unit.area_name %>"><%= unit.area_name %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Dirección: </b>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control" id="direction" name="direction">
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Subdirección: </b>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control" id="subdirection" name="subdirection">
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Unidad: </b>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control" id="unit" name="unit">
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Puesto: </b>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control" id="position" name="position">
                        <option value=""></option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-6" style="margin-bottom: 10px;">
                  <div class="row">
                    <div class="col-md-5">
                      <b>Número de usuario: </b>
                    </div>
                    <div class="col-md-7">
                      <input class="form-control" id="disabledInput" type="text" name="user_num" value="<%= params[:user_num].present? ? params[:user_num] : "" %>">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Login Ayre: </b>
                    </div>
                    <div class="col-md-7">
                      <input class="form-control" id="disabledInput" type="text" name="ayre" value="<%= params[:ayre].present? ? params[:ayre] : "" %>" required>
                    </div>
                  </div>
                </div>

                <div class="col-md-6" style="margin-top: 10px;">
                  <div class="row">
                    <div class="col-md-5">
                      <b>Email: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="email" value="<%= params[:email].present? ? params[:email] : "" %>">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Teléfono: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="phone_number" value="<%= params[:phone_number].present? ? params[:phone_number] : "" %>">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>NIF: </b>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="inputDefault" name="document" value="<%= params[:document].present? ? params[:document] : "" %>" required>
                    </div>
                  </div>
                </div>

                <!--<div class="col-md-6">
                  <div class="row">
                    <div class="col-md-5">
                      <b>Fecha de comienzo: </b>
                    </div>
                    <div class="col-md-2 date-input-box">
                      <input type="text" class="form-control date-input" id="datepicker_start" name="start_date"/>
                    </div>
                    <div class="col-md-1 date-button-box">
                      <div>
                        <button type="button" id="datepicker_start_select_button" class="fa fa-calendar date-button"></button>
                        <div id="tooltip-select-start" class="tooltip-date"><span>Seleccionar fecha</span></div>
                      </div>
                      <div>
                        <button type="button" id="datepicker_start_clear_button" class="fa fa-trash-o date-button"></button>
                        <div id="tooltip-clear-start" class="tooltip-date"><span>Eliminar fecha</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <b>Fecha de fin: </b>
                    </div>
                    <div class="col-md-7 date-input-box">
                      <input type="text" class="form-control date-input" id="datepicker_end" name="end_date"/>
                    </div>
                    <div class="col-md-1 date-button-box">
                      <div>
                        <button type="button" id="datepicker_end_select_button" class="fa fa-calendar date-button"></button>
                        <div id="tooltip-select-end" class="tooltip-date"><span>Seleccionar fecha</span></div>
                      </div>
                      <div>
                        <button type="button" id="datepicker_end_clear_button" class="fa fa-trash-o date-button"></button>
                        <div id="tooltip-clear-end" class="tooltip-date"><span>Eliminar fecha</span></div>
                      </div>
                    </div>
                  </div>
                </div>-->

              </div>
            </div>
            <hr>
            <div class="row edit-row">
              <div class="col-md-6">
                <input type="hidden"value="<%= form_authenticity_token() %>" name="authenticity_token"/>
                <button class="btn btn-primary save-changes" type="submit" >Crear Usuario</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <a href="/users?search=<%= params[:search] %>">
            <button type="submit" class="btn btn-primary">Volver</button>
          </a>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>

<script>
  <% if params[:position_id].present? %>
    <% position = Position.find(params[:position_id]) %>
    filterOrgchart("<%= position.unit.area_name %>",
                    "<%= position.unit.dir_name %>",
                    "<%= position.unit.subdir_name %>",
                    "<%= position.unit.name %>",
                    "/functions");
    $("#area").val("<%= position.unit.area_name %>");
    $("#direction").val("<%= position.unit.dir_name %>");
    $("#subdirection").val("<%= position.unit.subdir_name %>");
    $("#unit").val("<%= position.unit.name %>");
    $("#position").val("<%= position.id %>");
  <% end %>

  $("#area").on("change", function() {
    filterElement('direction', '/functions');
  });
  $("#direction").on("change", function() {
    filterElement('subdirection', '/functions');
  });
  $("#subdirection").on("change", function() {
    filterElement('unit', '/functions');
  });
  $("#unit").on("change", function() {
    filterElement('position', '/functions');
  });
</script>