<% if @render == false %>
  <div class="row element-style">
    <div class="col-md-5 col-md-offset-3">
      <div class="row">
        <div class="col-md-5 col-md-offset-4 survey-icon">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-1">
          <h1>No tienes campañas activas</h1>
        </div>
        <a href="/">
          <button type="submit" class="btn btn-primary" id="n-survey-btn">Volver</button>
        </a>
      </div>
    </div>
  </div>
<% else %>
  <div class="row element-style">
    <div class="col-md-5 col-md-offset-1">
      <div class="row">
        <div class="col-md-5 col-md-offset-4 survey-icon">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 survey-panel survey-panel-custom">
          <% if @user_positions.any? %>
            <% @user_positions.each do |position| %>
              <div class="col-md-12">
                <div class="col-md-3 survey-icon-list">
                  <i class="fa fa-pencil-square-o survey-icon-list-custom" aria-hidden="true"></i>
                </div>
                <div class="col-md-4">
                  <% if position.unit.campaign.status == "active" %> <!-- && position.functions.first.responses == [] %> -->
                    <a href="/surveys/show?id=<%= position.slug %>">
                      <button type="button" class="btn btn-lg btn-primary btn-primary-custom">
                        <%= position.name %> - <%= position.unit.name %>
                      </button>
                    </a>
                    <br><br>
                  <% else %>
                    <h3 class="small-text">El cuestionario <%= position.name %> - <%= position.unit.name %> no esta activo o ya ha sido respondido</h3>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>
            <h2>No existen cuestionarios activos para el puesto</h2>
          <% end %>
        </div>
        <div class="col-md-6 col-md-offset-2">
          <a href="/">
            <button type="submit" class="btn btn-primary btn-surveys">Volver</button>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
