<div class="row element-style">
  <div class="col-md-8 col-md-offset-2">
    <div id="errorTagCont" class="'has-error alert alert-danger alert-dismissable'">
      <button name="button" type="button" onclick="$('#errorTagCont').hide();" class="close">×</button>
      <div id="errorTag"></div>
    </div>
    <% if @errors %>
      <% @errors.each do |error| %>
        <div class="'has-error alert alert-danger alert-dismissable'">
          <button name="button" type="button" class="close" data-dismiss="alert">×</button>
          <%= error %>
        </div>
      <% end%>
    <% end%>
    <div class="row">
      <legend class="col-lg-12"><%= @position.unit.campaign.name %></legend>
      </div>
      <div>
        <ul style="list-style-type: circle;">
          <li>Le rogamos que antes de cumplimentar el cuestionario lea detenidamente los siguientes contenidos:
            <ul style="list-style-type: square;"><li>Las funciones recogidas en su cuestionario.</li></ul>
            <ul style="list-style-type: square;"><li>Instrucciones generales y específicas que debe tener en cuenta para la correcta incorporación de la información.</li></ul>
            <ul style="list-style-type: square;"><li>Manual del cumplimentación del cuestionario. <%= link_to "Descargar aquí", surveys_download_manual_url(format: "csv") %>.</li></ul>
          </li>
          <li>Dedique el tiempo necesario a su cumplimentación. Cuanto más cercanos sean los datos a la realidad, mayor rigor y veracidad presentarán los resultados.</li>
          <li>En el caso de que lo precise, tiene a su disponibilidad la “calculadora de dedicaciones” para el cálculo de los porcentajes de dedicación a incorporar al cuestionario. <%= link_to "Descargar aquí", surveys_download_calc_url(format: "csv") %>.</li>
          <li>Dado que el cuestionario no permite el guardado de información se sugiere, para facilitar su cumplimentación, que imprima el cuestionario en papel (haciendo click en el botón derecho del ratón y seleccionar “imprimir”), escriba los porcentajes y una vez tenga todos, los vuelque de una vez en el cuestionario online.</li>
        </ul>
      </div>
      <button class="accordion">Instrucciones de cumplimentación del cuestionario <i class="fa fa-plus pull-right big-icon" aria-hidden="true"></i></button>
      <div class="panel-instructions">
        <table class="table table-striped table-hover ">
          <tbody>
            <tr>
              <th style="background-color: lightgray;">Instrucciones Generales</th>
            </tr>
            <tr>
              <td>1. Responda a todas las preguntas con un valor numérico porcentual (%) con dos decimales como máximo.</td>
            </tr>
            <tr>
              <td>2. El porcentaje asociado a cada función puede ir desde “0“ a “100”.</td>
            </tr>
            <tr>
              <td>3. Tenga en cuenta que no todas las funciones del cuestionario pueden aplicar en su caso, es decir, no sean desarrolladas por usted, en esos casos informe la casilla con un “0”.</td>
            </tr
            <tr>
              <td>4. Aborde primero las funciones a las que dedique más tiempo, procediendo por orden de mayor a menor dedicación.</td>
            </tr>
            <tr>
              <td>5. La suma de las respuestas debe ser igual a “100”, ya que se trata de un valor porcentual. En el caso de ser necesario ajustar el porcentaje destinado a cada función para que el sumatorio de todas sea 100.</td>
            </tr>
            <tr>
              <th style="background-color: lightgray;">Instrucciones Específicas de funciones a añadir</th>
            </tr>
            <tr>
              <td>6. Se pueden añadir hasta tres funciones extra proporcionado su descripción, siempre que la dedicación a cada una de ellas sea superior al 5%.</td>
            </tr>
            <tr>
              <td>7. El nivel de detalle de la descripción de las funciones a añadir tendrá que ser similar o parecido a las funciones detalladas en el cuestionario (no muy extensa y que permita identificar el contenido  de la función).</td>
            </tr>
            <tr>
              <td>8. Antes de añadir una función extra, por favor, revise que no está incluida en las funciones ya contempladas en el cuestionario.</td>
            </tr>
          </tbody>
        </table>
      </div>
    <form id="survey-form" action="/surveys/create" method="POST">
      <fieldset>  
        <div class="form-group">
          <div class="row question-mark">
            <h4 class="col-lg-12 control-label question">¿Cuál ha sido su dedicación durante 2016 a las siguientes funciones?</h4>
          </div>
          <div class="row">
            <table class="table table-striped table-hover ">
              <thead>
                <th>Función</th>
                <th>% Tiempo</th>
              </thead>
              <tbody>
                <% @pos_functions.each do |function| %>
                  <tr>
                    <td>
                      <div>
                        <p>
                          <%= function.name %>
                        </p>
                      </div>
                    </td>
                    <td>
                      <input class="form-control" style="width: 100px;" type="number" name="time_per_<%= function.id %>" id="survey-input-<%= function.id %>" onchange="showTotal();" min="0" max="100" step="0.01">
                      <input type="hidden" class="form-control input-sm task" type="text" id="inputSmall_<%= function.id %>" value="<%= function.id %>" name="function_id_<%= function.id %>">
                      <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
  
        <!-- other tasks form -->
        <div class="form-group">
          <div class="row">
            <label class="col-lg-12 control-label">Otras funciones realizadas: </label>
          </div>
          <div class="row">
            <table class="table table-striped table-hover ">
              <thead>
                <th>Función</th>
                <th>% Tiempo</th>
              </thead>
              <tbody id="other-tasks">
              </tbody>
            </table>
          </div>
          <div class="col-md-12">
            <div class="col-md-6"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"><div id="add-task-box"><button class="btn btn-primary pull-right" type="button" id="add-task">Añadir función</button></div></div>
          </div>        
        </div>
      </fieldset>
      <hr>
      <div class="col-md-12" style="margin-bottom: 20px;">
        Suma total de las respuestas: <input type="text" id="total" disabled="true" style="width: 70px;" />
      </div>
      <hr>
      <div class="col-md-12">
        <input type="hidden" id="positionId" name="id" value="<%= @position.id %>" />
        <%= link_to(content_tag(:button, 'Cancelar', class: 'btn btn-primary', title: 'Cancelar'), surveys_path) %>
        <button class="btn btn-success save-response" type="button" onclick='return formCheck();'>Confirmar</button>
      </div>
    </form>
  </div>
</div>

<script>
    initializeJS();

    // modal instructions

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].onclick = function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      }
    }
</script>
