<% if can? :settings, @current_user %>
<div class="row element-style">
  <div class="col-md-11 form-style">
    <form class="form-horizontal">
      <fieldset>
        <div class="row">
          <legend class="col-lg-12">Seguimiento</legend>
        </div>
        <div class="form-group org-panel">
          <div class="row">
            <label for="select" class="col-lg-12 control-label">Porcentaje de respuestas de la encuesta</label>
            <hr>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <table class="table table-striped table-hover ">
                <thead>
                  <tr>
                    <th>Unidad</th>
                    <th>Nivel de respuesta</th>
                    <th>Barra porcentual</th>
                    <th id="mail-legend">Enviar recordatorio</th>
                  </tr>
                </thead>
                <tbody>
                  <% @units.each do |unit| %>
                    <tr>
                      <td><%= unit.name %></td>
                      <% unit_users = [] %>
                      <% unit_responses = 0 %>
                      <% unit.positions.each do |position| %>
                        <% position.users.each do |user| %>
                          <% unit_users << user %>
                          <% unit_responses = user.responses.count + unit_responses %>
                        <% end %>
                      <% end %>
                      <td><%= response_level = (unit_responses*100)/(unit_users).count %>%</td>
                      <td>
                        <div class="progress progress-striped tracking-bar">
                          <div class="progress-bar progress-bar-success" style="width: <%= response_level %>%"></div>
                        </div>
                      </td>
                      <td>
                        <%= link_to(content_tag(:i, nil, class: 'fa fa-user tracking-icon', title: 'Lista de usuarios'), action: 'user_list', id: unit.id) %>
                        <%= link_to(content_tag(:i, nil, class: 'fa fa-users tracking-icon', title: 'Recordatorio grupal'), action: 'group_mail', id: unit.id) %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="col-md-6">
      <a href="/admin">
        <button type="submit" class="btn btn-primary">Volver</button>
      </a>
    </div>
  </div>
</div>
<% end %>
