<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/assets/favicon.ico">
  <title>Ancar Areas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<header>
  <nav class="navbar navbar-default nav-ayto">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="header-container">
        <a href="/" >
          <i id="home-icon" class="fa fa-home" aria-hidden="true" title="Inicio"></i>
        </a>
      </div>
      <div class="header-container">
        <a href="/settings" >
          <i id="home-icon" class="fa fa-cog" aria-hidden="true" title="Configuración"></i>
        </a>
      </div>
      <div class="header-container">
        <a href="/tracking_panel" >
          <i id="home-icon" class="fa fa-map-marker" aria-hidden="true" title="Seguimiento"></i>
        </a>
      </div>
    </div>
    <div class="navbar-right">
      <a class="navbar-brand">
        <%if @current_user%>
          <p class="brand-font"><%= @current_user.name %> <%= @current_user.last_name %> <%= @current_user.last_name_alt %>, <%= @current_user.official_position %></p>
          <p class="brand-font"><%= @current_user.unit_name %></p>
        <%end%>
      </a>
    </div>
  </div>
</nav>
</header>
<body>

<%= yield %>

</body>
<footer>
</footer>
</html>
